/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */


html, body, div, h1, h2, h3, h4, p, footer {
	margin: 0;
  color: #333;
}

html, body {
	background: #bdcbe5;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.55;
}

h1 {
	padding: 40px 20px 20px;
	font: 40px/60px Gabriela, Georgia, serif;
	text-align: left;
	text-shadow: 3px 3px rgba(0,0,0,0.1);
	color: #fff;	
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-family: FontAwesome;
	font-style: normal;
}

/*Inspired by W3schools breadcrumbs CSS guide: https://www.w3schools.com/howto/howto_css_breadcrumbs.asp*/

ul.breadcrumb {
  padding: 8px 12px;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px; 
  padding: 10px;
}

ul.breadcrumb a {
  padding: 20px; 
  text-decoration: none; 
  color: #333; 
  transition: color 0.3s; 
}

ul.breadcrumb a:hover {
  color: #677ae7; 
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: left;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #e4e4e4; 
  border: 0.1px solid;
  border-color: rgba(26, 26, 26, 0.1);
  border-radius: 3px 3px 0px 0px;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 20px 0px;
  width: 100%;
  transition: 0.3s;
  font-family: FontAwesome;
	font-style: normal;
	font-size: 17px;
  color: #333;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f8f8f8;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  margin: 0 auto;
  font-family: FontAwesome;
	font-style: normal;
	font-size: 15px;
  border: 1px solid;
  border-radius: 0px 0px 3px 3px;
  border-color: rgba(0,0,0,0.1);
  border-top: none;
  background-color: #f8f8f8;
  background-size: cover;
}


